*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-color: hsl(36, 97%, 61%);
  --secondary-color: hsl(218, 17%, 9%);
  --text-color: hsl(0, 0%, 17%);
  --secondary-button-background: hsl(0, 0%, 100%);
  --scroll-indicator-background: hsl(0, 0%, 93%);
  --secondary-button-hover-color: hsl(218, 17%, 9%);
  --button-hover-color: hsl(0, 0%, 100%);
  --primary-button-hover-background: hsl(30, 71%, 39%);
  --header-background: hsl(0, 0%, 100%);
  --footer-background: hsl(218, 17%, 9%);
  --link-hover-color: hsl(30, 71%, 39%);
  --main-container-width: 1170px;
}

.shit {
  background: red;
}

.fuck {
  background: black;
}
